<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BOOKWORM</title>
  <link rel="stylesheet" href="style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>

  <script src="main.js"></script>
</head>
<body>
  <div class="wrapper">

    <!-- HEADER -->
    <header>
      <div class="BOOKWORM_LOGO">
        <a id="logo" href="#home"><img src="images/Bookworm_logo1.PNG" alt="Logo Image"></a>
      </div>      
      <nav class="main-nav">                
        <a href="#home">Home</a>

        <div class="dropdown">
        <button class="dropbtn">Genres</button>            
          <div class="dropdown-content">
            <a class="dropdown-item" href="#">BOOKWORM ORIGINALS</a>
            <a class="dropdown-item" href="#">Action and Adventure</a>
            <a class="dropdown-item" href="#">Classics</a></li>
            <a class="dropdown-item" href="#">Comic Book or Graphic Novel</a></li>
            <a class="dropdown-item" href="#">Detective and Mystery</a>
            <a class="dropdown-item" href="#">Fantasy</a>
            <a class="dropdown-item" href="#">Historical Fiction</a>
            <a class="dropdown-item" href="#">Horror</a>
            <a class="dropdown-item" href="#">Literary Fiction</a>
            <a class="dropdown-item" href="#">Romance</a>
            <a class="dropdown-item" href="#">Science Fiction (Sci-Fi)</a>
            <a class="dropdown-item" href="#">Short Stories</a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#"></a>
            <a class="dropdown-item" href="#">Suspense and Thrillers</a>
            <a class="dropdown-item" href="#">Women's Fiction</a>
            <a class="dropdown-item" href="#">Biographies and Autobiographies</a>
            <a class="dropdown-item" href="#">Cookbooks</a>
            <a class="dropdown-item" href="#">Essays</a>
            <a class="dropdown-item" href="#">History</a>
            <a class="dropdown-item" href="#">Memoir</a>
            <a class="dropdown-item" href="#">Poetry</a>
            <a class="dropdown-item" href="#">Self-Help</a>
            <a class="dropdown-item" href="#">True Crime</a> 

          </div>
        </div>


        <a href="#originals">Originals</a>
        <a href="#">Recently Added</a> 

      </nav>
      <nav class="sub-nav">
        <input type="text" placeholder="Search..">
        <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
        <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
        <a href="#">Account</a>        
      </nav>      
    </header>
    <!-- END OF HEADER -->
    
    <!-- MAIN CONTAINER -->
    <section class="main-container" >
      <div class="location" id="home">
          <h1 id="home">Popular on BOOKWORM</h1>
          <div class="box">
            <a href=""><img src="images/1.jpg" alt=""></a>
            <a href=""><img src="images/2.jpg" alt=""></a>
            <a href=""><img src="images/3.jpg" alt=""></a>
            <a href=""><img src="images/4.jpg" alt=""></a>
            <a href=""><img src="images/5.jpg" alt=""></a>
            <a href=""><img src="images/6.jpg" alt=""></a>
    
            <a href=""><img src="images/7.jpg" alt=""></a>
            <a href=""><img src="images/8.jpg" alt=""></a>
            <a href=""><img src="images/9.jpg" alt=""></a>
            <a href=""><img src="images/10.jpg" alt=""></a>
            <a href=""><img src="images/11.jpg" alt=""></a>
            <a href=""><img src="images/12.jpg" alt=""></a>        
          </div>
      </div>
      

      <h1 id="myList">Trending Now</h1>
      <div class="box">
        <a href=""><img src="images/13.jpg" alt=""></a>
        <a href=""><img src="images/14.jpg" alt=""></a>
        <a href=""><img src="images/15.jpg" alt=""></a>
        <a href=""><img src="images/16.jpg" alt=""></a>
        <a href=""><img src="images/17.jpg" alt=""></a>
        <a href=""><img src="images/18.jpg" alt=""></a>                  
      </div>
      
      <h1 id="tvShows">Novels</h1>
      <div class="box">
        <a href=""><img src="images/19.jpg" alt=""></a>
        <a href=""><img src="images/20.jpg" alt=""></a>
        <a href=""><img src="images/21.jpg" alt=""></a>
        <a href=""><img src="images/22.jpg" alt=""></a>
        <a href=""><img src="images/23.jpg" alt=""></a>
        <a href=""><img src="images/24.jpg" alt=""></a>

        <a href=""><img src="images/25.jpg" alt=""></a>
        <a href=""><img src="images/26.jpg" alt=""></a>
        <a href=""><img src="images/27.jpg" alt=""></a>
        <a href=""><img src="images/28.jpg" alt=""></a>
        <a href=""><img src="images/29.jpg" alt=""></a>
        <a href=""><img src="images/30.jpg" alt=""></a>              
      </div>

      <h1 id="originals">BOOKWORM ORIGINALS</h1>
      <div class="box">
        <a href=""><img src="images/39.jpg" alt=""></a>
        <a href=""><img src="images/32.jpg" alt=""></a>
        <a href=""><img src="images/33.jpg" alt=""></a>
        <a href=""><img src="images/34.jpg" alt=""></a>
        <a href=""><img src="images/35.jpg" alt=""></a>
        <a href=""><img src="images/36.jpg" alt=""></a>                
      </div>
     
    <!-- END OF MAIN CONTAINER -->

    <!-- LINKS -->
    <section class="link">
      <div class="logos">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x logo"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x logo"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x logo"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube fa-2x logo"></i></a>
      </div>
      <div class="sub-links">
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Media Center</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Legal Notices</a></li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </section>
    <!-- END OF LINKS -->

    <!-- FOOTER -->
    <footer>
      <p>&copy 2022 BOOKWORM, Inc.</p>
    </footer>
  </div>
</body>
</html>